<ion-header>
  <app-header title="Edit Blog Item">
      <ion-back-button slot="start"></ion-back-button>
  </app-header>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>
          Titre:
        </ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          Body:
        </ion-label>
        <ion-textarea formControlName="body" type="text"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button (click)="submit()">Submit</ion-button>
  </form>
  <pre>
    {{form.value|json}}
  </pre>
</ion-content>