<ion-header>
  <app-header title="Gyro">
      <!-- <ion-back-button slot="start"></ion-back-button> -->
      <!-- <ion-back-button defaultHref="home" slot="start"></ion-back-button> -->
      <!-- <ion-back-button slot="start"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button> -->
      <!-- <ion-back-button text="Back" icon="arrow-back" slot="start"></ion-back-button> -->
      <ion-back-button color="danger" slot="start"></ion-back-button>
  </app-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
    <ion-text><h1>Gyroscope</h1></ion-text>
     <ion-text>Ouvrir dans Chrome -> More tools -> Sensor</ion-text>
    </ion-row>
    <ion-row>
      <ion-text>async: {{data$|async|json}}</ion-text>
    </ion-row>
    <ion-row *ngIf="(data$|async) as data">
        <ion-col>
          <!-- TODO: using library to draw 3D Object -->
          <div id="square" #square [ngStyle]="{'transform': 'rotate3d(' + data[0] + ', ' + data[1] + ', ' + data[2] + ', ' + data[3] + 'turn)'}"></div>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-text><h1>Geolocalisation</h1></ion-text>
    </ion-row>
    <ion-row>
        <ion-button color="primary" (click)="watchPosition()">Take Position</ion-button>
    </ion-row>
    <ion-row>
       
      <ion-text>Position: {{position|json}}</ion-text>
       
    </ion-row>
  </ion-grid>
</ion-content>